<h2 class="text-center">プロフィール編集</h2>
<%= form_with model:@user, local: true do |f| %>
  <h4 class="text-center">Name</h4>
  <div class="text-center">
    <%= f.text_field :name, class: 'd-inline-block' %>
  </div>

  <h4 class="text-center">プロフィール画像</h4>
  <div class="text-center">
    <%= f.attachment_field :profile_image %>
  </div>

  <h4 class="text-center">目標</h4>
  <div class="text-center">
    <%= f.text_area :goal_comment %>
  </div>

  <h4 class="text-center">目標金額</h4>
  <div class="text-center">
    <%= f.text_field :goal_money %>
  </div>

  <div class="text-center">
    <%= f.submit '更新' %>
  </div>
<% end %>