<div class="users_main">
<h2>ユーザー一覧</h2>
<% @users.each do |user| %>
<div class="card" style="width: 18rem;">
  <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "default-image.jpeg", class: "rounded-image"%>
  <div class="card-body">
    <h5 class="card-title"><%= user.name %></h5>
    <p class="card-text">目標：<%= user.goal_comment %></p>
    <p class="card-text">目標金額: ¥<%= user.goal_money %></p>
  </div>
</div>
<% end %>
</div>
<%= link_to "My page", user_path(current_user.id) %><br>