<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-9">
          <div class="wrapper">
            <div class="user_info">
              <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "default-image.jpeg", class: "rounded-image"%>
              <strong style="font-size: 24px;"><%= @user.name %></strong>
              <%= link_to "編集", edit_user_path(@user), class: "btn btn-dark" %>
            </div>
            <div class="info_wrapper">
              <div class="money_info">
                <p class="money_text">
                  <i class="fas fa-fire" style="color: #ff6b6b">我慢目標</i>
                  <span><strong>¥<%= @user.goal_money %></strong></span>
                </p>
                <p class="money_text">
                  <i class="fas fa-thumbs-up" style="color: #fcdd57">我慢した</i>
                  <span><strong>¥<%= @total_unbuy %></strong></span>
                </p>
                <p class="money_text">
                  <i class="fas fa-yen-sign" style="color: #80d4ff">買った</i>
                  <span><strong>¥<%= @total_buy %></strong></span>
                </p>
              </div>
              <p class="goal_text">目標:<%= @user.goal_comment %></p>
            </div>
          </div>
        </div>
        <div class="col-md-3 text-center">
          <%= link_to users_path do %>
            <p class="all_users mt-3"><strong>みんなの我慢額</strong></p>
          <% end %>
          <% @users.each do |user| %>
            <div class="d-flex align-items-center" style="margin-bottom: 10px;">
              <%= attachment_image_tag user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "default-image.jpeg", class: "rounded-image", style: "margin-right: 20px" %>
              ¥ <%= user.total_unbuy %>
            </div>
          <% end %>
          <div class="d-flex justify-content-center">
            <%= paginate @users %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-5 text-center goal-rate small-text">
          <p class="goal-rate-text">目標達成率</p>
          <p class="my-money"><strong><%= @completion_rate * 100 %>%</strong></p>
          <% if @user.goal_money.present? && @user.goal_money > 0 %>
            <p class="goal-rate-text">目標達成まであと...<strong>¥<%= @user.goal_money - @total_unbuy %></strong></p>
          <% end %>
        </div>
        <div class="col-md-3 text-center total-unbuy small-text">
          <p class="under-text">我慢合計</p>
          <p class="my-money"><strong>¥<%= @all_unbuy %></strong></p>
        </div>
        <div class="col-md-4 d-flex align-items-center justify-content-center">
          <div class="d-flex flex-column justify-content-between">
            <%= link_to "記録する", new_post_path, class: "btn btn-dark btn-block btn-tall" %>
            <%= link_to "悩んでいるものリスト", posts_path, class: "btn btn-dark btn-block btn-tall" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>