<h1>新規投稿</h1>
<%= form_with model: @post, local:true do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h4>買うか悩んでいるもの</h4>
  <%= f.text_field :product %>
  <h4>カテゴリー</h4>
  <%= f.select :category, options_for_select(['食品', '日用品', '交通費', '趣味', 'その他']) %>
  <h4>金額</h4>
  <%= f.text_field :price %>
  <h4>コメント</h4>
  <%= f.text_area :comment %>
  <%= f.submit '保存' %>
<% end %>