<div class="container">
  <h2>商品</h2>
    <h4>商品名</h4>
    <%= @post.product %>
    <h4>カテゴリー</h4>
    <%= @post.category %>
    <h4>金額</h4>
    <%= @post.price %>
    <h4>コメント</h4>
    <%= @post.comment %>

    <%= link_to "記録画面へ", new_post_path %>
    <%= link_to "My pageへ", user_path(current_user) %>
</div>