<!--投稿された商品の詳細ページ-->

  <div class="post-details">
    <h1 class="show-top">商品詳細</h1>
    <div class="post-details__item">
      <h4 class="post-title">商品名</h4>
      <p class="post-date"><%= @post.product %></p>
    </div>
    <div class="post-details__item">
      <h4 class="post-title">カテゴリー</h4>
      <p class="post-date"><%= @post.category %></p>
    </div>
    <div class="post-details__item">
      <h4 class="post-title">金額</h4>
      <p class="post-date">¥<%= @post.price %></p>
    </div>
    <div class="post-details__buttons">
      <%= link_to "記録画面へ", new_post_path, class: "btn btn-dark" %>
      <%= link_to "My pageへ", user_path(current_user), class: "btn btn-dark" %>
    </div>
  </div>

