<!DOCTYPE html>
<html>
  <head>
    <title>Tamemol</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-ZCpNsIE9eBpRnEJpOVYvPuaFfQP0wL1eMvuksKfQskZI+Pn5UoJI7W+L6YzV7l+" crossorigin="anonymous">

  </head>

  <body>
    <div class="contents">
      <%= render 'layouts/header' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
